<header class="navbar navbar-fixed-top">
  <div class="container">
    <div id="logo">
      <span id="logo-title">SRS App</span>
    </div>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Cards', cards_path %></li>
      </ul>
    </nav>
  </div>
</header>
